* {
  box-sizing: border-box;
}

.wrapper {
  border: 1px solid #E6E8F7;
  border-radius: 12px;
  margin-left: 0;
  padding: 0 1rem;
}

.counts, .date, .comments {
  color: var(--bs-gray);
  line-height: 1;

  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  span {
    padding-left: 0.5rem;
  }
}

.date {
  padding-right: 1rem;
  border-right: 1px solid #E6E8F7;
}

.counts {
  padding-left: 1rem;
  padding-right: 1rem;
}

.comments {
  padding-left: 1rem;
  border-left: 1px solid #E6E8F7;
}
